<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="board-share__panel">
  <div class="board-share__header">Share "Board name" with others</div>
  <div class="board-share__inviter">
    <app-emails-editor [emails]="emailList"></app-emails-editor>
  </div>

</div>

<div class="button-bar">
  <div class="button-bar__button-container">
    <div class="button-bar__button button-bar__button--add-email-btn"
         role="button"
         tabindex="0"
         style="user-select: none;"
         (click)="addRandomEmail()">Add email
    </div>
  </div>
  <div class="button-bar__button-container button-bar__button-container--random-email-btn-container">
    <div class="button-bar__button button-bar__button--random-email-btn"
         role="button"
         tabindex="0"
         style="user-select: none;"
         (click)="showCountAlert()">Get emails count
    </div>
  </div>
</div>









